/*
Author: Jaren Quintana
Date: 7/24
Filename: styles.css
Assignment : Final Project Online Profile
*/

/*header section*/

/*footer section*/

/*index.html*/

/*education.htlm/

/*workexperience.html*/

/*thankyou.html*/

@media screen and (max-width: 360px) {
    body{
        text-align: center;
    }
}